---
permalink: /blog/
layout: page
title: My Blog
description: A place where I decided to write some things down.
pagination: 
  enabled: true
---
<div class="d-flex flex-wrap">
  {% for post in paginator.posts %}
  <div class="col-lg-4 col-md-6 col-xs-12 p-1">
    <div class="card">
      <img class="card-img" />
      <div class="card-body">
        <a href="{{ post.url }}" class="h4 stretched-link text-dark">{{ post.title }}</a>
        {% if post.description %}
          <p>{{ post.description }}</p>
        {% else %}
          <p>{{ post.excerpt }}</p>
        {% endif %}
      </div>
      <div class="card-footer">
        <small class="text-muted"><i class="fas fa-clock"></i> {{ post.date | date: '%Y-%m-%d' }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>