---
permalink: /projects/
title: My Projects
---
<div id="projects-feed" class="row">
  {% for item in site.projects %}
  <div class="col-lg-4 col-sm-6 col-xs-12 px-1 pb-2">
    <figure class="project h-100">
      <div class="project__thumbnail">
        {% if item.thumbnail %}
          <img src="{{ item.thumbnail }}" />
        {% endif %}
        <p>{{ item.description }}</p>
      </div>
      <figcaption class="project__info">
        <a class="stretched-link link-unstyled" href="{{ item.url }}">{{ item.title }}</a>
      </figcaption>
    </figure>
  </div>
  {% endfor %}
</div>