// Nav classes
// Bootstrap Nav Overrides
.navbar-nav {
    box-shadow: inset 0px 0px 0px 0.15rem $primary;
    background-color: $body-bg;

    .nav-link {
        padding-left: 1rem;
        color: $primary !important;

        &:hover, &:active {
            background-color: $primary;
            color: $body-bg !important;
        }
    }
}

@include media-breakpoint-up(lg) {
    .navbar-collapse {
        flex-basis: 0 !important;
    }
}

// Breadcrumbs
.breadcrumbs {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}