<!--Default Layout-->

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <div id="hero" class="hero container-fluid bg-light">
        <div id="hero-content" class="container h-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4">Hi, I'm Jared Tulayan</h1>
        <p class="lead">I'm a Rutgers Computer Science student, avid maker, something else.</p>
        <hr>
        <div class="hero__more text-center">
          <a href="#about">More</a>
        </div>
      </div>
    </div>
    <div id="about" class="container">
      <h2>About</h2>
    </div>
    {% include footer.html %}
  </body>
</html>