<!--Default Layout-->

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <div id="hero" class="jumbotron jumbotron-fluid">
      <div id="hero-content" class="container-fluid mx-lg-5">
        <h1 class="display-4">Hi, I'm Jared Tulayan</h1>
        <p class="lead">I do lots of coding stuff and this is just filler text until I think of something better</p>
      </div>
    </div>
    <div id="content" class="container-fluid">
        
    </div>
    {% include footer.html %}
  </body>
</html>