<!--Default Layout-->

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="d-flex flex-column">
    {% include navbar.html %}
    <div id="hero" class="hero container-fluid bg-light">
        <div id="hero-content" class="container h-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4">Hi, I'm Jared Tulayan</h1>
        <p class="lead">I'm a software engineer and avid maker, currently studying Computer Science at Rutgers University.</p>
        <hr>
        <div class="hero__more text-center">
          <a href="#projects">More</a>
        </div>
      </div>
    </div>
    <div id="projects" class="container-fluid py-5">
      <div class="container d-flex flex-column justify-content-center align-items-center">
        <h1>My Projects:</h1>
        <hr class="my-3 w-100">
        <p class="lead">
          These are some of the main projects I've worked on over the years.
        </p>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>