<!--Post Layout-->
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="d-flex flex-column">
    {% include navbar.html %}
    <div id="header" class="my-10 container-fluid">
      <div id="header-content" class="container pt-10 d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4">{{ page.title }}</h1>
        {% if page.description %}
          <p class="lead">{{ page.description }}</p>
        {% endif %}
        <small class="text-muted">Posted {{ page.date | date: '%B %d, %Y' }}</small>
      </div>
    </div>
    <main id="content" class="container flex-grow-1">
        <div class="mx-lg-10 px-lg-10 mb-3">
          {{ content }}
        </div>
    </main>
    {% include footer.html %}
  </body>
</html>